{% extends "base.html" %}


{% block content %}

{% load static %}

<h1>Hi {{user}} Welcome to Niki's Shop home page</h1>
<a href="{% url 'logout'%}">Logout</a>
{% if stripe %}
    <p>Your stripe id: {{ stripe }}</p>
    <a href="{% url 'create_product'%}">Create new product</a>
    <a href="{% url 'edit_product' 1%}">Edit your products</a>

    <p>Your products</p>
    {% if my_products %}
        <ul>
          {% for product in my_products %}
          <li>
            <a href="{% url 'detail_product' product.id%}">{{ product.name }}</a>
            <a href="{% url 'edit_product' product.id%}"
               onclick="return confirm('Are you sure you want to EDIT this product?')">Edit</a>
            <a href="{% url 'delete_product' product.id%}"
               onclick="return confirm('Are you sure you want to DELETE this product?')">Delete</a>
          </li>
          {% endfor %}
        </ul>
    {% else %}
        <p>No products</p>
    {% endif %}

    <p>Others products</p>
        {% if others_products %}
            <ul>
              {% for product in others_products %}
              <li>
                <a href="{% url 'detail_product' product.id%}">{{ product.name }}</a>
              </li>
              {% endfor %}
            </ul>
        {% else %}
            <p>No products</p>
        {% endif %}

{% else %}
    <a href="{% url 'register_in_stripe'%}">Stripe connect</a>
{% endif %}

{% endblock content %}